@import '../../../styles/breakpoints';

.work-exp{

    // min-height: 700px;
    min-height: 50vh;
    border:1px solid goldenrod;
    

.tab-wrapper{
    display: flex;
    justify-content: space-between;
        button{
            border: none;
            border: 1px solid red;
            padding: 10px;
            background-color: transparent;
            cursor: pointer;
            outline: 1px solid transparent;
            font-size: 18px;
            width: 140px;
            @include media('<=desktop'){
                font-size: 18px;
            }
            @include media('<=tablet'){
                font-size: 16px;
            }
            @include media('<=phone'){
                font-size: 14px;
            }
        }
    .tab-panels{
        width: 75%;
        .tab-panel-list{
            ul{
                font-size: 22px;
                @include media('<=desktop'){
                    font-size: 20px;
                }
                @include media('<=tablet'){
                    font-size: 18px;
                }
                @include media('<=phone'){
                    font-size: 16px;
                }

        }
    }
    }
}

}